.buttons{
  text-align: center;
  /* buton elementi'nin kendisi inline elemandır. fakat kapsayıcı elemanı
  block eleman olduğu için bulunduğu satırı kaplar.
  bunun için text-align kodu ile butonları kolaylıkla ortalayabiliriz. */
}

ul.footer li{
  /* .footer class'ına sahip li etiketi'nin görünen liste simgesini 
  none ile gizledim. */
  list-style: none;
}

.headerli{
  /* .headerli class'ına sahip tüm elementlerin belirli bir yöne hizalanabilmesi için belirli bir genişlik değerinin olması gerek. hepsine sabit olarak 50px genişlik verdim. hizalama değerini de sağ olarak kullandım. */
  width: 50px;
  float: right;
}

/* .pic class'ına sahip element içindeki img elementine ulaştım, ve yeni profil fotoğrafımı 32x32 olacak şekilde yeniden boyutlandırdım. */

.pic img{
  height: 32px;
  width: 32px;
  border-radius: 5px;
}

/* 
  Tüm butonların dış: üst ve sol boşlukları 10px verildi. 
  buton kenarlıkları 1px düz çizgi #f2f2f2 renginde düzenlendi.
  yazı fontu arial olarak ayarlandı.
  yazı rengi #5f6368 olarak ayarlandı.
  font büyüklüğü 14px olarak ayarlandı.
  buton yüksekliği 36px olarak ayarlandı.
*/

button{
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid #f2f2f2;
  font-family: Arial;
  color: #5f6368;
  font-size: 14px;
  height: 36px;
}

/* Buton üzerine gelince hover olayında gölgelendirme özelliği eklendi.*/

button:hover{
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

/* 
  mikrofon butonunun display özelliği flex olarak ayarlandı.
  .voice-img classına sahip etiket align-items ile ortaya hizalandı.
  sol taraftan 13px iç boşluk verildi.
  üst dış boşluk -5px olarak ayarlandı.
*/
.voice-img{
  display: flex;
  align-items: center;
  padding-left: 13px;
  margin-top: -5px;
}

/* 
  .voice-img class'ına sahip elementin içindeki img etiketine ulaştık ve mikrofon ico'nunu 20px olacak şekilde
  genişlik ve yükseklik değerlerini belirledim. 
*/

.voice-img img{
  width: 20px;
  height: 20px;
}

/* 
  Mikrofon üzerine gelince buton hissi vermesi için cursor (fare oku) özelliğini pointer olarak belirledim.
*/
.voice-img img:hover{
  cursor: pointer;
}

.header {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  margin-right: 16px;
  font-family: arial,sans-serif;
  font-size: 13px;
}

.headerli a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.headerli a:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
  margin: 100px;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: -77px;
  width: 582px;
  /* Arama alanı'nın çerçevesine 15px yarıçap ekledim. */
  border-radius: 15px;
}

.search-area:hover {
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;

  /* 
  patika üzerindeki isteğe göre genişlik değerini 480px verdim. 
  input text'in siyah border özelliğini 0 yaptım ki görünmesin.
  */
  width: 480px;
  height: 100%;
  border: 0px;
}

.googlesearch {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.feelinglucky {
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
  /* footer arkaplan rengini f2f2f2 olarak değiştirdim */
  background-color: #f2f2f2;
}

.footerli {
  float: left;
}

.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}
